.place-card__likesAmount{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  margin: 3px auto 0 auto;

  color: #000000;
}