.place-card__like-icon {
  background: url(../../../images/like-inactive.svg) center no-repeat;
  background-color: transparent;
  border: none;
  width: 21px;
  height: 19px;
  cursor: pointer;
  transition: transform .3s linear;
  outline: none;
}

.place-card__like-icon_liked {
  background-image: url(../../../images/like-active.svg);
  outline: none;
}

.place-card__like-icon:hover {
  transform: scale(1.03);
}
