@import url(./image__content/image__conent.css);
@import url(./__popupImage/popupImage.css);
@import url(./_is-opened/image-wrap_is-opened.css);
@import url(./__close/popupImage__close.css);


.image-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}