.user-info__button {
  position: absolute;
  top: 16px;
  right: 0;
  width: 150px;
  height: 50px;
  font-size: 30px;
}

@media screen and (max-width: 980px) {
  .user-info__button {
    position: static;
    margin-bottom: 40px;
  }
}
