.user-info__photo {
  width: 150px;
  height: 150px;
  min-width: 150px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 0;
  opacity: 1;
}




.user-info__photo:hover {
  cursor: pointer;
  opacity: 0.7;
}


@media screen and (max-width: 980px) {
  .user-info__photo {
    margin-top: 40px;
  }
}
